<ion-content [fullscreen]="true">
  <div class="container">
    <ion-img
      [src]="logoApp"
      alt="Health Monitor Logo"
      class="centered-image"
    ></ion-img>
    <h1>Health Monitor</h1>
    <p>Monitoramento Cardíaco</p>
    <p class="subtitle">Solução definitiva para o acompanhamento da saúde cardíaca.</p>

    <ion-button expand="block" color="primary" class="login-button" (click)="onClickLogin()">Log In</ion-button>
    <ion-button expand="block" fill="outline" color="secondary" class="register-button" (click)="onClickRegister()">Registrar</ion-button>
  </div>
</ion-content>
