<ion-content [fullscreen]="true">
  <div id="login-container">
    <div class="header">
      <h1>Login</h1>
    </div>
    <div>
      <h2>Seja bem-vindo</h2>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

      <div class="input-item">
        <ion-input fill="outline"
          label="CPF"
          labelPlacement="floating"
          formControlName="cpf"
          maxlength="14"
          (ionChange)="applyCPFMask($event)"
          errorText="Necessário informar o CPF"
        ></ion-input>
      </div>

      <div class="input-item">
        <ion-input fill="outline"
          label="Senha"
          labelPlacement="floating"
          type="password"
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          maxlength="30"
          errorText="Informe a senha"
        ></ion-input>
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="togglePasswordVisibility()">
            <ion-icon slot="icon-only" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>

      <div class="forgot-password">
        <a (click)="forgotPassword()">Esqueci minha senha</a>
      </div>

      <ion-button expand="block" class="login-button" type="submit">Log In</ion-button>
    </form>

    <div class="signup">
      <p>Não possui uma conta? <a href="../register">Registre-se</a></p>
    </div>
  </div>

  <ion-toast
    [isOpen]="isToastOpen"
    [message]="errorMessage"
    duration="2000"
    color="danger"
    (didDismiss)="onToastDismiss()">
  </ion-toast>
</ion-content>
