<ion-content [fullscreen]="true">
  <div id="new-password-container">
    <div class="header">
      <ion-back-button defaultHref="/login" class="back-button"></ion-back-button>
      <h1>Nova Senha</h1>
    </div>

    <div class="instruction">
      <p>
        Para proteger sua conta, por favor, crie uma nova senha.
        Certifique-se que ela seja segura e fácil de lembrar.
        Escolha uma senha segura, com pelo menos 8 caracteres, incluindo letras, números e caracteres especiais.
      </p>
    </div>

    <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">

      <div class="input-item">
        <ion-input fill="outline"
          label="CPF"
          labelPlacement="floating"
          formControlName="cpf"
          maxlength="14"
          (ionChange)="applyCPFMask($event)"
          errorText="Necessário informar o CPF"
        ></ion-input>
      </div>

      <div class="input-item">
        <ion-input fill="outline"
          label="Senha"
          labelPlacement="floating"
          type="password"
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          maxlength="30"
        ></ion-input>
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="togglePasswordVisibility()">
            <ion-icon slot="icon-only" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>

      <div class="input-item">
        <ion-input fill="outline"
          label="Senha"
          labelPlacement="floating"
          type="password"
          [type]="showConfirmPassword ? 'text' : 'password'"
          formControlName="confirmPassword"
          maxlength="30"
        ></ion-input>
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="toggleConfirmPasswordVisibility()">
            <ion-icon slot="icon-only" [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>

      <ion-button expand="block" class="new-password-button" type="submit">Criar Nova Senha</ion-button>
    </form>
  </div>

  <ion-toast
    [isOpen]="isToastOpen"
    message="Senha atualizada com sucesso!"
    duration="2000"
    color="success"
    (didDismiss)="onToastDismiss()">
  </ion-toast>

  <ion-toast
    [isOpen]="isErrorToastOpen"
    [message]="errorMessage"
    duration="2000"
    color="danger"
    (didDismiss)="onErrorToastDismiss()">
  </ion-toast>
</ion-content>
