<ion-content [fullscreen]="true">
  <div id="home-container">
    <div class="header">
      <div class="user-info">
        <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
        <div>
          <span>Bem-Vindo</span>
          <h3>{{ username }}</h3>
        </div>
      </div>
    </div>

    <ng-container *ngIf="isConnected === true || this.usertype === 'MONITOR'; else bluetoothTemplate">
      <ion-card color="light">
        <ion-card-header>
          <div *ngIf="this.usertype === 'PACIENT'">
            <ion-card-title>Monitorando sua frequência cardiaca</ion-card-title>
          </div>
          <div *ngIf="this.usertype === 'MONITOR'">
            <ion-card-title>Monitorando {{ pacientName }}</ion-card-title>
          </div>
        </ion-card-header>

        <ion-card-content>
          <div class="monitoring-item">
            <div class="monitor-box">
              <p>BPM</p>
              <h1>{{ currentBpm || '00.0' }}</h1>
            </div>
          </div>
          <div class="monitoring-item">
            <div class="monitor-box">
              <p>SpO2</p>
              <h1>{{ currentSpo2 || '00.0' }}</h1>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <ng-template #bluetoothTemplate>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Dados Capturados por Bluetooth</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="monitoring-item">
            <div class="monitor-box">
              <p>Bluetooth BPM</p>
              <h1>{{ currentBpm || '00.0' }}</h1>
            </div>
          </div>
          <div class="monitoring-item">
            <div class="monitor-box">
              <p>Bluetooth SpO2</p>
              <h1>{{ currentSpo2 || '00.0' }}</h1>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-template>

  </div>
</ion-content>

<app-footer></app-footer>

